---
import Distritos from '@/components/home/distritos'
import { GET } from '@/pages/api/distritos/index'
import { truncateText } from '@/utils/formatter'
import Layout from '@/layouts/layout.astro'
import Hero from '@/components/hero.astro'
import { API_STATES } from './api/_states'
import type { Distrito } from '@/types'

const response = await GET(Astro)
const { statusText, data: apiResponse } = await response.json()

const distritos =
  statusText === API_STATES.error ? null : (apiResponse.data as Distrito[])

const distritosWithSortDescriptions =
  distritos?.map((distrito) => ({
    ...distrito,
    description: truncateText(distrito.description, { maxWords: 15 })
  })) ?? null
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col gap-12">
    <Hero />
		<Distritos initialDistritos={distritosWithSortDescriptions} client:visible />
  </main>
</Layout>

