---
import type { Distrito, InterestPoint } from '@/types'
import ShareDialog from './sections/distrito/share-dialog'
import SavePlace from '@/components/save-place'
import { getSession } from '@/services/server/session'

interface Props {
  place: (Distrito | InterestPoint) & { type: 'distrito' | 'punto' }
}

const { place } = Astro.props
const { session } = await getSession()

const accessToken = session?.access_token ?? null
---

<div class="w-full flex justify-between">
  <h1 class="font-outfit text-4xl font-bold">{place.name}</h1>
  <div class="flex gap-3">
    <ShareDialog shareWithName={place.name} client:only="react" />
    <SavePlace place={place} session={{ accessToken }} client:visible />
  </div>
</div>
