---
import SearchIcon from '../components/icons/search'
import { getWebsitePaths } from '../utils/general'

const { pathname } = Astro.url
const paths = getWebsitePaths({ pathname })
---

<header class="w-full fixed left-0 top-0 px-12 pt-7 z-10">
  <nav class="grid grid-cols-4 place-items-center text-sm">
    <div></div>

    <ul
      id="navigation-container"
      class="flex gap-5 col-span-2 border-2 border-primary rounded-full p-2 transition-all duration-300"
    >
      {
        Object.values(paths).map((path) => (
          <li>
            <a
              href={path.url}
              class:list={[
                'p-1 px-2',
                { 'bg-primary text-white rounded-full': path.isCurrent },
                { 'hover:text-primary transition-colors': !path.isCurrent }
              ]}
            >
              {path.label}
            </a>
          </li>
        ))
      }
    </ul>

    <div>
      <button
        id="search-nav"
        class="p-2 border-2 text-primary border-primary rounded-full transition-colors"
      >
        <SearchIcon size={20} />
      </button>
    </div>
  </nav>
</header>

<style>
  .header-blur {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
</style>

<script>
  const navigation = document.querySelector(
    '#navigation-container'
  ) as HTMLUListElement

  const searchIcon = document.querySelector('#search-nav') as HTMLButtonElement

  window.addEventListener('scroll', () => {
    if (window.scrollY > 0) {
      navigation.classList.add('header-blur')
      searchIcon.classList.add('header-blur')
    } else {
      navigation.classList.remove('header-blur')
      searchIcon.classList.remove('header-blur')
    }
  })
</script>
