---
import SearchIcon from '../components/icons/search'

const { pathname } = Astro.url
const currentPath = pathname.slice(1)
---

<header class="w-full fixed left-0 top-0 px-12 pt-7  z-10">
  <nav class="grid grid-cols-4 place-items-center text-sm">
    <div></div>

    <ul id="navigation-container" class="flex gap-5 col-span-2 border-2 border-primary rounded-full p-2 transition-all duration-300">
      <li>
        <a
          href="/"
          class:list={["p-1 px-2", { 'bg-primary text-white rounded-full': currentPath === "" }]}
          >Home</a
        >
      </li>
      <li>
        <a
          href="/lugares"
          class:list={[
            "p-1 px-2",
            { 'bg-primary text-white rounded-full': currentPath === "lugares" },
          ]}>Lugares</a
        >
      </li>
      <li>
        <a
          href="/preferencias"
          class:list={[
            "p-1 px-2",
            { 'bg-primary text-white rounded-full': currentPath === "preferencias" },
          ]}>Preferencias</a
        >
      </li>
      <li>
        <a
          href="/acerca-de"
          class:list={[
            "p-1 px-2",
            { 'bg-primary text-white rounded-full': currentPath === "acerca-de" },
          ]}>Acerca de</a
        >
      </li>
    </ul>

    <div>
      <button
        class="p-2 border-2 text-primary border-primary rounded-full hover:bg-primary hover:text-white transition-colors"
      >
        <SearchIcon size={20} />
      </button>
    </div>
  </nav>
</header>

<style>
  .header-blur {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
</style>

<script>
  const navigation = document.querySelector('#navigation-container') as HTMLUListElement

  window.addEventListener('scroll', () => {
    if (window.scrollY > 0) {
      navigation.classList.add('header-blur')
    } else {
      navigation.classList.remove('header-blur')
    }
  })
</script>